# Loki cluster:
# Read:                     {QueryFrontend, Querier}, 
# Write:                    {Ingester, Distributor}, 
# Backend:                  {QueryScheduler, Ruler, Compactor, IndexGateway}, 

---
networks:
  net:

volumes:
  prometheus_data:
  grafana_data:
  tempo_data:
  minio_data:
  nginx_1_logs:
  nginx_2_logs:

## Loki (read)
services:
  read:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=read"
    ports:
      - 3101:3100
      - 7946
      - 9095
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
    depends_on:
      - minio
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: &net-dns
      net:
        aliases:
          - net

  ## Loki (write)
  write:
    image: grafana/loki:latest
    command: "-config.file=/etc/loki/config.yaml -target=write"
    ports:
      - 3102:3100
      - 7946
      - 9095
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - minio
    networks:
      <<: *net-dns

  ## Alloy
  alloy:
    image: grafana/alloy:latest
    volumes:
      - ./config.alloy:/etc/alloy/config.alloy:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command:  run --server.http.listen-addr=0.0.0.0:12345 --storage.path=/var/lib/alloy/data /etc/alloy/config.alloy
    ports:
      - 12345:12345
      - 4319:4317
      - 4320:4318
    depends_on:
      - gateway
    networks:
      - net

  ## Minio (stockage s3)
  minio:
    image: minio/minio
    entrypoint:
      - sh
      - -euc
      - |
        mkdir -p /data/loki-data && \
        mkdir -p /data/loki-ruler && \
        minio server /data
    environment:
      - MINIO_ROOT_USER=loki
      - MINIO_ROOT_PASSWORD=supersecret
      - MINIO_PROMETHEUS_AUTH_TYPE=public
      - MINIO_UPDATE=off
    ports:
      - 9000
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 15s
      timeout: 20s
      retries: 5
    networks:
      - net

  ## Grafana (frontend)
  grafana:
    image: grafana/grafana:latest
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning      
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=mailhog:1025
    depends_on:
      - gateway
    entrypoint:
      - /run.sh
    volumes:
      - ./datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - net

  ## Loki backend
  backend:
    image: grafana/loki:latest
    volumes:
      - ./loki-config.yaml:/etc/loki/config.yaml
    ports:
      - "3100"
      - "7946"
    command: "-config.file=/etc/loki/config.yaml -target=backend -legacy-read-mode=false"
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3100/ready || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - gateway
    networks:
      - net
    
  ## Prometheus
  prometheus:
    image: prom/prometheus:latest
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
    ports:
      - 9090:9090
    depends_on:
      - gateway
    networks:
      - net
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:9090/-/healthy || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus

  cadvisor:
    image: ghcr.io/google/cadvisor:v0.53.0
    networks: 
      - net
    ports:
      - 8080:8080
    volumes: 
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro    
    privileged: true
    devices: 
      - /dev/kmsg

  ## Tempo
  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempo_data:/var/tempo
    ports:
      - "3200" # tempo
      - "4317" # otlp grpc    
    depends_on:
      - gateway
    networks:
      - net

  # Generate fake traces
  k6-tracing:
    image: ghcr.io/grafana/xk6-client-tracing:latest
    environment:
      - ENDPOINT=alloy:4317
    restart: always
    depends_on:
      - tempo
      - alloy
    networks:
      - net
  
  ## Gateway nginx
  gateway:
    image: nginx:latest
    depends_on:
      - read
      - write
    entrypoint:
      - sh
      - -euc
      - |
        cat <<EOF > /etc/nginx/nginx.conf
        user  nginx;
        worker_processes  5;  ## Default: 1

        events {
          worker_connections   1000;
        }

        http {
          resolver 127.0.0.11;

          server {
            listen             3100;

            location = / {
              return 200 'OK';
              auth_basic off;
            }

            location = /api/prom/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /api/prom/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /api/prom/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }

            location = /loki/api/v1/push {
              proxy_pass       http://write:3100\$$request_uri;
            }

            location = /loki/api/v1/tail {
              proxy_pass       http://read:3100\$$request_uri;
              proxy_set_header Upgrade \$$http_upgrade;
              proxy_set_header Connection "upgrade";
            }

            location ~ /loki/api/.* {
              proxy_pass       http://read:3100\$$request_uri;
            }
          }
        }
        EOF
        /docker-entrypoint.sh nginx -g "daemon off;"
    ports:
      - "3100:3100"
    healthcheck:
      test: ["CMD", "service", "nginx", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - net

  ## Fake logger
  flog:
    image: mingrammer/flog
    command: -f json -d 200ms -l
    networks:
      - net

  ## Fake local SMTP (mailhog)
  mailhog:
    image: mailhog/mailhog
    ports:
      - 8025:8025
      - 1025:1025
    networks:
      - net

  ## Nginx 1
  nginx-paris-1:
    image: nginx
    ports:
      - 10101:80
    volumes:
      - nginx_1_logs:/var/log/nginx
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - net  
  nginx-paris-2:
    image: nginx
    ports:
      - 10102:80
    volumes:
      - nginx_2_logs:/var/log/nginx
      - ./nginx.conf:/etc/nginx/nginx.conf
    networks:
      - net  
  ## Promtail
  promtail:
    image: grafana/promtail
    ports: []
    command: --config.file=/mnt/config/promtail-config.yaml
    volumes:
      - nginx_1_logs:/var/log/nginx-paris-1:ro
      - nginx_2_logs:/var/log/nginx-paris-2:ro
      - ./promtail-config.yaml:/mnt/config/promtail-config.yaml
    networks:
      - net
    depends_on:
      - gateway
      - nginx-paris-1
      - nginx-paris-2